@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: white;
    font-family: 'Marck Script', cursive;
}
mark{
    color: white;
    background-color: #333;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

h1{
    background-color: #A64208;
    padding: 0.2em 1em;
    margin: 0.5em 1em;
    border-radius: 30px 30px 30px 30px;
-moz-border-radius: 30px 30px 30px 30px;
-webkit-border-radius: 30px 30px 30px 30px;
border: 0px solid #000000;
}
body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 4em;
}
/*Secciones en General*/
.contenedor{
        margin: 0em 2em;
        background-color:#F2994B;
        border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
}
/*Estilos del Header*/
header{
    padding: 0.5em 0em;
    display: flex;
    font-size: 1.5em;
    color: white;
    width: 100%;
    background-color: #591902;
}
header img{
    margin-left: 2.5em;
    width: 10%;
}
header ul{
    list-style: none;
    border-top:2px solid white ;
}
header ul li{
    float: left;
    
}
header nav{
  
    margin-left: 8em;
   text-align: right;
}
header a {
    margin: 1em 1em;
    transition: 200ms;
}
header a:hover{
    text-decoration: underline;
    color: #F2B138;
}
/*Estilos de inicio*/
.fondo{
    position: relative;
    background-image: url(../img/cake1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60em;
}
.fake{
    position: absolute;
    right: 30%;
    top: 50%;
    animation:tada;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.fake img{
    width:18em;
}
.listaord{
    font-size: 1.5em;
    padding: 0em 2em;
    position: absolute;
    top: 1%;
    left: 2em;
    background-color: #A64208;
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px solid #000000;
}
.listaord li{
    margin: 1em 0em;
    transition: 200ms;
}
.listaord li:hover{
    color: #333;
    text-shadow: 1px 1px 2px #F2B138 ;}
.listaord2{
    font-size: 1.5em;
    padding: 0em 2em;
    position: absolute;
    top: 43%;
    left: 2em;
    background-color: #A64208;
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px solid #000000;
}
.listaord2 li{
    margin: 1em 0em;
    transition: 200ms;
}
.listaord2 li:hover{
    color: #333;
    text-shadow: 1px 1px 2px #F2B138;
    
}

/*Estilos del Sitio en Reparacion*/
.construir{
    margin: 0em 2em;
    background-color:#F2994B;
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px solid #000000;
   
}
.construir img{
    margin-left: 25%;
    width: 50%;
    animation:pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}



/*Estilos Sobre mi*/
.sobre-mi{
    margin: 0em 2em;
    padding: 2em 3em;
    background-color: #F2994B;
    text-align: justify;
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px solid #000000;
    
}
.sobre-mi h2,h3,p{
    color: #333;
}
.sobre-mi p{
    font-size: 25px;
}
.sobre-mi img{
    width: 15%;
    border: 5px solid #333;
    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
transition: 300ms;
}
.sobre-mi img:hover{
    width: 17%;
    -webkit-box-shadow: 10px 10px 90px 35px rgba(217,95,95,0.6);
-moz-box-shadow: 10px 10px 90px 35px rgba(217,95,95,0.6);
box-shadow: 10px 10px 90px 35px rgba(217,95,95,0.6);

}

/*Estilos de contacto*/
.contacto{
    
    display: flex;
    padding: 2em 2em;
}
.mapa{
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
}
.formulario{
    padding: 1em 0em;
    margin-left: 11%;
    width: 40%;
    background-color: #333;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}
.formulario ul{
    list-style: none;
}
.formulario textarea,input,button{
    color: #333;
    font-size: 1.5em;
    margin: 0.5em 0em;
    padding: 0em 0em;
    width: 70%;
    margin-left: 15%;
    border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;

}
.formulario button{
    background-color: #000000;
    color: white;
    transition: 200ms;
}

.formulario button:hover{
    background-color: #D95F5F;
}

/*Estilos del footer*/
footer{
    position: absolute;
    bottom: 0;
    padding: 0.5em 0em;
    width: 100%;
    height:2em ;
    background-color: #591902;
    text-align: center;

}
footer p{
    font-size: 1.5em;
    color: white;
}
/*Estilos de las cajas principales*/
.caja{
    padding: 1.5em 0em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.caja div{
    width: 28%;
    margin: 1em 2%;
    text-align: justify;
    transition: 300ms;
    background-color: rgb(209, 209, 209);
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    
}
.caja h3{
    text-align: center;
    margin: 0.5em 0em;
}
.caja div:hover{
    -webkit-box-shadow: 10px 10px 15px 3px rgba(217,95,95,1);
-moz-box-shadow: 10px 10px 15px 3px rgba(217,95,95,1);
box-shadow: 10px 10px 15px 3px rgba(217,95,95,1);
}
.caja img{
    width: 10em;
    height: 10em;
    margin-top: 1em;
    margin-left: 30%;
    transition: 200ms;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}
.caja div img:hover{
    width: 10.5em;
    height: 10.5em;
    -webkit-box-shadow: 10px 10px 15px 3px rgba(217,95,95,1);
-moz-box-shadow: 10px 10px 15px 3px rgba(217,95,95,1);
box-shadow: 10px 10px 15px 3px rgba(217,95,95,1);
}
.caja p{
    padding: 1em 1em 1em 1em;
background-color: #333;
color: white;
border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;

}